{# Layout de base pour le site internet #}
<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Les ateliers d'écriture de Marie-Anne</title>
		<meta name="description" content="TODO">
	</head>

	<body>
		{% block body %}{% endblock %}
	</body>

</html>