{# Layout de base pour le site internet #}
<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Les ateliers d'écriture de Marie-Anne</title>
		<meta name="description" content="TODO">
		{% stylesheets '@AtelierCoreBundle/Resources/less/styles.less'
			filter = 'less,?scssphp'
			output = 'css/styles.css'
		%}
			<link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css"/>
		{% endstylesheets %}
	</head>

	<body>

		<!-- Papier de gauche -->
		<svg width="100%" id="papier_gauche" height="100%" viewBox="0 0 238 684" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
			<path d="M0.881,0.074l236.389,586.415l-236.957,96.775l0.568,-683.19Z" style="fill:#f5d7fe;"/>
		</svg>

		<!-- Contenu principal -->
		<main>
		  {% block main %}{% endblock %}
		</main>

	</body>

</html>