{# Layout de base pour le site internet #}
<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Les ateliers d'écriture de Marie-Anne</title>
		<meta name="description" content="TODO">
		{% stylesheets '@AtelierCoreBundle/Resources/less/styles.less'
			filter = 'less,?scssphp'
			output = 'css/styles.css'
		%}
			<link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css"/>
		{% endstylesheets %}
	</head>

	<body>
		<main>
		  {% block main %}{% endblock %}
		</main>
	</body>

</html>