{% extends 'AtelierCoreBundle::layout.html.twig' %}

{% block main %}

    <h1 class="main-title">
        Les ateliers écriture
        <br/>
        <span style="font-size:80%">de</span>
        <br/>
        <span style="font-size:200%">Marie-Anne</span>
    </h1>

    <p>
        Ecrire, c'est ranger le cirque que l'on a dans sa tête.
    </p>

    <p>
        La page blanche vous fait peur ? Vous aimeriez commencer à écrire, mais vous avez besoin d'un petit coup de pouce ? Ou bien vous écrivez déjà, et vous avez envie de bousculer vos habitudes, de vous remettre en question ?
    </p>

    <p>
        Vous êtes arrivé au bon endroit. Je me présente, je suis Marie-Anne. J'organise des ateliers dans les cafés où je donne des sujets d'écriture, chacun compose selon son style (narration, dialogue, poésie, ou autre). Chacun compose pendant un temps
        imparti, puis nous échangeons nos écrits.
    </p>

    <p>
        Vous pouvez me retrouver pour l'instant au bar Le Centre, 2 rue Roger Salengro, 93140 Bondy, mais si vous voulez me voir apparaître près de chez vous, n'hésitez pas à en souffler un mot à votre café ou votre salon de thé habituel ou contactez-moi au
        06 84 71 97 58.
    </p>

    <p>
        Les séances durent deux heures et ont lieu le mercredi ou le dimanche dans la journée, dans une salle réservée pour l'occasion. Une séance coûte 8 euros, plus une consommation requise. Les horaires seront définis en fonction des disponibilités de
        chacun. Pour réserver un créneau, envoyez-moi un mail à marieannechrist@gmail.com ou téléphonez-moi.
    </p>
{% endblock %}
