@background-color: #C4DAEF;

/* Main */
@main-width: 73vw;
@main-offset: 7vw;
@main-background-color: #FFFFFB;
@main-text-color: #4346AF;
@main-padding-sides: 9vw;
@main-padding-top: 7vw;

/* Papier gauche */
@pg-width: 20vw;
@pg-height: 2.9*@pg-width;
@pg-offset: 5vh;

/* Papier droit */
@pd-width: 40vw;
@pd-height: 60vh;
@pd-offset: -0.2vw;

/* Orientation portrait */
@main-portrait-background-color: #FFFFFB;
@main-portrait-width: 100vw;
@pg-portrait-width: 18vw;
@pg-portrait-offset: 3vw;
@pd-portrait-width: 35vw;
@pd-portrait-height: 40vw;
@pd-portrait-right-offset: -0.4vw;

