@background-color: #C4DAEF;

/* Main */
@main-width: 73vw;
@main-offset: 7vw;
@main-background-color: #FFFFFF;
@main-text-color: #4346AF;
@main-padding-sides: 9vw;
@main-padding-top: 7vw;

/* Papier gauche */
@pg-width: 20vw;
@pg-height: 2.9*@pg-width;
@pg-offset: 3vw;