@import 'parametres';
@import 'fonts';

@import (inline) '../vendor/css/normalize.css';

#bordure() {
	border: 1px solid red;
}

html {
	background-color: @background-color;
	padding: 0;
	margin: 0;
	font-size: 1.1vw;
}

main {
	z-index: 0;
	width: @main-width;
	box-sizing: border-box;
	background-color: @main-background-color;
	color: @main-text-color;
	font-family: Athelas;
	font-size: 150%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	position: relative;
	left: unit((100 - @main-width)/2,vw);
	top: @main-offset;
	padding-left: @main-padding-sides;
	padding-right: @main-padding-sides;
	padding-top: @main-padding-top;
	padding-bottom: @main-padding-top;
	h1.main-title {
		font-family: 'Savoye LET';
		text-align: center;
		font-size: 400%;
		line-height: 1;
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-style: normal;
	}
}

/*#papier_gauche {
	#bordure();
	width: @pg-width;
	position: absolute;
	left: 0;
	top: @pg-offset;
	background-image: 'svg/papier_gauche.svg';
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}*/

svg#papier_gauche {
	z-index: 1;
	width: @pg-width;
	height: @pg-height;
	position: absolute;
	left: -0.1vw;
	top: @pg-offset;
}